@import url('./index.css');
@import '@styles/Vars.scss';

* {
  font-family: 'Asap';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  overscroll-behavior-y: contain;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
}