@import '@styles/Vars.scss';

.button {
  background: none;
  background-color: $gray-color;
  border: none;
  border-radius: 900px;
  cursor: pointer;
  color: $white-color;
  padding: 6px 12px;
  min-width: max-content;
  border: solid 1px $primary-dark-color;
  font-size: 16px;

  &:hover {
    background-color: $white-color;
    color: $secondary-dark-color;
  }
  &.button--active {
    background-color: $white-color;
    color: $secondary-dark-color;
  }

}