@import '@styles/Vars.scss';

.icon-button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: $gray-color;
  border-radius: 100%;
  display: flex;
  height: 36px;
  justify-content: center;
  min-height:36px;
  min-width: 36px;
  padding: auto;
  width: 36px;
  
  &.icon-button--inactive {
    background-color: transparent;

    &:hover {
      background-color: $transparent-gray-color;
    }
  }
  &.icon-button--hidden {
    display: none;
  }
}
.icon-button__img {
  height: 20px;
}