$primary-dark-color: #04090D;
$secondary-dark-color: #08141D;
$gray-color: #4D565C;
$soft-gray-color: #A1A6A9;
$transparent-gray-color: rgba(161,166,169,0.2); 
$white-color: #F8F8F8;
$light-green-color: #3DC946;
$dark-green-color: #228753;